body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;

}

#numAlternatives, #numCriteria {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 80px;
  text-align: center; /* Center form content */
}

.criteria-input {
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 90%;
  
}
#form {
  margin: 0;
  max-width: 1100px;
  min-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #d7d5d5;

  
}
#criteriaInput1, 
#criteriaInput2,
#criteriaInput3,
#criteriaInput4,
#criteriaInput5,
#criteriaInput6,
#criteriaInput7,
#criteriaInput8,
#criteriaInput9 {


}
#resultsContainer {
  
  overflow: auto;
  display: inline-block;
  width: 100%;
  text-align: center; /* background-color: #fbfbfb;
  width: 200px; */
}

#criteriaInputContainer {
  background-color: #fbfbfb;
  width: 300px;
}


button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #c0bebe;
  border-radius: 10px;
}

th, td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #4CAF50;
  color: rgb(255, 255, 255);
}



#resultsContainer {
  margin-top: 30px;
}

#IYVY {
  margin-top: 20px;
  font-size: 18px;
}
